vagrant/.vagrant
/cake_web/app/config/parameters.yml
/cake_web/build/
/cake_web/phpunit.xml
/cake_web/var/*
!/cake_web/var/cache
/cake_web/var/cache/*
!cake_web/var/cache/.gitkeep
!/cake_web/var/logs
/cake_web/var/logs/*
!cake_web/var/logs/.gitkeep
!/cake_web/var/sessions
/cake_web/var/sessions/*
!cake_web/var/sessions/.gitkeep
!cake_web/var/SymfonyRequirements.php
/cake_web/vendor/
/cake_web/web/bundles/

