{% extends 'base.html.twig' %}

{% block body %}
<section class="content-header">
    <h1>
      <small>Sumário Executivo</small>
      Missão da Empresa
    </h1>
</section>
<section class="content">
  <div>
    <br><label>Defina a missão da empresa:</label><br>
    <textarea rows="6" cols="100"></textarea>
  </div>
</section>
    
{% endblock %}