{% extends 'base.html.twig' %}

{% block body %}
<section class="content-header">
    <h1>
      <small>Sumário Executivo</small>
      Fontes de Recursos
    </h1>
</section>
<section class="content">
  <div>
    <br><label>Descreva a origem dos recursos utilizados para abertura da empresa:</label><br>
    <textarea rows="6" cols="100"></textarea>
  </div>
</section>
    
{% endblock %}