{% extends 'base.html.twig' %}

{% block body %}
<section class="content-header">
    <h1>
      <small>Sumário Executivo</small>
      Resumo
    </h1>
</section>
<section class="content">
  <div>
    <br><label>Escreva um resumo com os principais pontos do seu plano:</label><br>
    <textarea rows="6" cols="100"></textarea>
  </div>
</section>
    
{% endblock %}