{% extends 'base.html.twig' %}

{% block body %}
<section class="content-header">
    <h1>
      <small>Sumário Executivo</small>
      Setores de Atividades
    </h1>
</section>
<section class="content">
  <div>
    <br><label>Defina em quais setores a empresa pretende atuar:</label><br>
    <input type="checkbox">Agronegócio<br>
    <input type="checkbox">Comércio<br>
    <input type="checkbox">Indústria<br>
    <input type="checkbox">Serviço
  </div>
</section>
    
{% endblock %}