{% extends 'base.html.twig' %}

{% block body %}
<section class="content-header">
    <h1>
      <small>Análise de Mercado</small>
      Estudo dos Clientes
    </h1>
</section>
<section class="content">
  <div>
    <br><label>Público alvo:</label><br>
    <textarea rows="6" cols="100"></textarea><br><br>
    <br><label>Interesse dos clientes:</label><br>
    <textarea rows="6" cols="100"></textarea><br><br>
    <br><label>Área de abrangência:</label><br>
    <textarea rows="6" cols="100"></textarea><br><br>
  </div>
</section>
    
{% endblock %}